footer {
    padding: 275px 0 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    background: url("/assets/img/bg-footer.jpg") center/cover;
    color: $white1;

    .left {
        .content {
            width: 60%;
            margin-left: 35%;
            text-align: left;

            h2 {
                font-family: $font1;
                text-transform: capitalize;
                font-size: 2rem;
                color: $orange1;
            }
            p{
                font-weight: 100;
                font-size: 0.8rem;
                line-height: 30px;

            }
        }
    }
    .right {
        width: 50%;
        margin-left: 5%;
        text-align: left;

        label {
            text-transform: uppercase;
            font-size: 0.9rem;
        }
        .top {
            display: grid;

            input {
                width: 250px;
                height: 30px;
                margin: 20px 0 40px;
                outline: none;
                background: none;
                border: 0.5px solid $orange1;
                padding-left: 10px;

                &:focus {
                    border: 1px solid $grey1;
                    color: $white1;
                }
            }
        }
        .bottom {
            width: 80%;
            display: grid;
            grid-template-columns: 100px 200px;
            align-items: center;

            ul {
                width: 100%;
                display: flex;
                align-items: center;
                align-items: center;
                justify-content: space-around;
                text-align: left;

                a {
                    color: grey;
                    font-size: 0.8rem;
                    &:hover {
                        color: $orange1;
                    }
                }
                li {
                    transition: 0.4s;
                    &:hover {
                        transform: scale(1.5);
                        color: $orange1;
                    }
                }
            }
        }
    }

}