header {
    min-height: 100vh;
    background: url("/assets/img/bg-slider-06.jpg") center/cover;
    color: $white1;
    padding: 0 50px;

    .header-content {
        height: 88vh;
        @include childCenter;

        .titres {
            margin-top: -300px;

        }

        h2 {
            font-family: $font1;
            color: $orange1;
            font-size: 3.5rem;
            font-weight: 100;
            margin-bottom: 10px;

            &::first-letter {
                text-transform: capitalize;
            }
        }
        h1 {
            font-family: $font2;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: 700;
            font-size: 4rem;
            margin-top: -35px;
        }
        img {
            height: 50px;
            margin: 65px 0;
        }
        p {
            font-size: 1.2rem;
            font-weight: 100;
            letter-spacing: 6px;
        }
    }
}