header {
    min-height: 100vh;
    background: url("/assets/img/bg-slider-06.jpg") center/cover;
    color: $white1;
    padding: 0 50px;

    .header-content {
        height: 88vh;
        @include childCenter;

        .titres {
            margin-top: -300px;
        }
        h2 {
            font-family: $font1;
            color: $orange1;
            font-size: 3.5rem;
            font-weight: 100;
            margin-bottom: 10px;
            transform: translateX(-200px);
            opacity: 0;
            animation: h2Anim 2s ease  forwards;

            @keyframes h2Anim {
                to {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
            &::first-letter {
                text-transform: capitalize;
            }
        }
        h1 {
            font-family: $font2;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: 700;
            font-size: 4rem;
            margin-top: -35px;
            transform: translateX(200px);
            opacity: 0;
            animation: h1Anim 2s ease forwards;
            animation-delay: 1s;

            @keyframes h1Anim {
                to {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
        }
        img {
            height: 50px;
            margin: 65px 0;
            transform: translateY(300px);
            opacity: 0;
            animation: contentAnim 2s ease forwards;
            animation-delay: 2s;
        }
        p {
            font-size: 1.2rem;
            font-weight: 100;
            letter-spacing: 6px;
            transform: translateY(300px);
            opacity: 0;
            animation: contentAnim 2s ease forwards;
            animation-delay: 2s;

            @keyframes contentAnim {
                to {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
    }
}