nav {
    max-width: 1100px;
    height: 12vh;
    display: grid;
    grid-template-columns: 10% 82% 8%;
    margin: 0 auto;
    align-items: center;

    h3 {
        font-family: $font1;
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 100;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transform: scale(1.3);
            color: $orange1;
        }
    }
    ul {
        display: flex;
        @include alignChildren(space-around);
        font-weight: 100;
        padding: 0 30px;
        cursor: pointer;

        li {
            text-transform: uppercase;
            font-size: 0.7rem;
            transition: 0.3s;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
    div {
        @include alignChildren(space-around);
        text-align: right;
        
        i {
            font-size: 0.8rem;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                transform: scale(1.3);
                color: $orange1;
            }
        }
    }
}