@font-face {
    font-family: "allura";
    src: url("/assets/fonts/Allura-Regular.ttf");
}
@font-face {
    font-family: "poppins";
    src: url("/assets/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "roboto";
    src: url("/assets/fonts/Roboto-Light.ttf");
}

// Creation des variables de Police
$font1: allura, cursive;
$font2: poppins, serif;
$font3: robot, sans-serif;

// Creation des variables couleurs
$orange1: rgb(166,114,69);
$white1: #eee;
$black1: #21201e;
$grey1: rgb(182,182,182);

@mixin childCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin alignChildren ($space) {
    display: flex;
    align-items: center;
    justify-content: $space;
}

// Maniere de scroller
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-span {
    color: $grey1;
}
li {
    list-style-type: none;
}
body {
    font-family: $font3;
    text-align: center;
    background: $black1;
}