@font-face {
    font-family: "allura";
    src: url("/assets/fonts/Allura-Regular.ttf");
}
@font-face {
    font-family: "poppins";
    src: url("/assets/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "roboto";
    src: url("/assets/fonts/Roboto-Light.ttf");
}

// Creation des variables de Police
$font1: allura, sans-serif;
$font2: poppins, sans-serif;
$font3: robot, sans-serif;

// Creation des variables couleurs
$orange1: rgb(165,124,92);
$white1: rgb(251, 251, 251);
$black1: rgb(36,36,34);
$black2: black;
$grey1: rgb(219,214,213);
$grey2: rgb(101,101,97);

@mixin title {
    font-family: $font2;
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a, a:visited {
    color: $white1;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font3;
    text-align: center;
}
.span-titre {
    font-family: $font1;
    font-weight: 100;
    letter-spacing: 0;
    text-transform: capitalize;
    color: $orange1;
}
.card-span {
    color: $grey1;
}
button {
    text-transform: uppercase;
    letter-spacing: 2px;
    background: $black1;
    color: $white1;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.05);  
    }
}